doctype html
html(lang="en")
    head
        title Document
        link(rel="stylesheet", href="/static/style.css")
        script(src="static/main.js" defer) 
    body 
        
        header.lib 
          h1 
              a.logo(href="/") Lib app 
          nav.navi
             a.action(href="/allbooks") All books 
             a.action2(href="/newbooks") New books
             a.action3(href="/favorites") Favorites  
        block content 