*{
    margin: 0%;
    box-sizing: border-box;
}

    .lib{
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        border-bottom:1px dashed grey ;
        padding: 5px;
    }

    a{
        text-decoration: none;
        color: black;
    }

   


 .navi a {
    display: inline-block;
    margin: 5px 10px;
    font-size: 1.2rem;
    }
   error{
       margin-top: 5px;
   }
    .navi a:hover{
     color: crimson;
    }
    .cont{
        margin: 0 auto;
    }
    .form {
        max-width: 50%;
        padding: 15px;
        
    }
    .input {
        width: 100%;
        padding: 10px;
        border: 1px solid lightgrey;
        font-size: 1.3rem;
    }

    .form-title {
        padding: 20px 0 0 20px;
    }

    .form > label {
        display: block;
        font-size: 1.2rem;
        margin: 10px 0 5px 0;
    }
    


    .btn {
        display: block;
        background: white;
        margin-top: 20px;
        font-size: 1.2rem;
        padding: 10px 20px;
        border: 0.5px solid black;
        color: black;
    }

    .btn:hover{
        color: green;
    }
    